In [56]:
import psycopg2
import sqlalchemy
import pandas as pd

In [57]:
engine = sqlalchemy.create_engine('postgresql+psycopg2://postgres:123456789@10.30.40.29/datathon')

# connection = engine.connect()
def execute_sql_query(query: str):
    conn = engine.connect()
    res = conn.execute(sqlalchemy.text(query))
    conn.commit()
    conn.close()

In [58]:
pd.read_sql("SELECT * FROM public.hmda_2017 LIMIT 100", engine)

,as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,...,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator
0,2017,75-2921540,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,,,,3202,97.27999877929688,57400,47.540000915527344,710,1314,
1,2017,0000504713,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,,,,3733,4.579999923706055,63900,86.23999786376953,861,1241,
2,2017,7810600004,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,,,,5498,37.91999816894531,75400,63.939998626708984,1270,1658,
3,2017,42-1739728,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,,,,3566,11.829999923706055,55200,74.29000091552734,573,1261,
4,2017,42-1739728,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,,,,2910,48.65999984741211,77500,79.25,599,26,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2017,0000451965,Consumer Financial Protection Bureau,CFPB,9,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,,,,6225,62.86000061035156,45300,279.7200012207031,1575,2041,
96,2017,0000146672,Consumer Financial Protection Bureau,CFPB,9,FHA-insured,2,One-to-four family dwelling (other than manufa...,1,Refinancing,...,,,,4522,41.220001220703125,74100,122.08999633789062,1073,1356,
97,2017,76-0561995,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Refinancing,...,,,,5691,60.0099983215332,63200,178.83999633789062,1342,1671,
98,2017,0000026336,Federal Deposit Insurance Corporation,FDIC,3,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,,,,4755,27.440000534057617,104800,133.38999938964844,1352,1949,
99,2017,75-2695327,Department of Housing and Urban Development,HUD,7,Conventional,1,One-to-four family dwelling (other than manufa...,1,Home purchase,...,,,,5316,73.08000183105469,73400,52.34000015258789,827,1320,

In [20]:
def recreate_table_naive():
    query = """
DROP TABLE IF EXISTS hmda_2017;
    """
    execute_sql_query(query)
    
    query = """
CREATE TABLE hmda_2017 (
    as_of_year int,
    respondent_id text,
    agency_name text,
    agency_abbr text,
    agency_code text,
    loan_type_name text,
    loan_type text,
    property_type_name text,
    property_type text,
    loan_purpose_name text,
    loan_purpose text,
    owner_occupancy_name text,
    owner_occupancy text,
    loan_amount_000s text,
    preapproval_name text,
    preapproval text,
    action_taken_name text,
    action_taken text,
    msamd_name text,
    msamd text,
    state_name text,
    state_abbr text,
    state_code text,
    county_name text,
    county_code text,
    census_tract_number text,
    applicant_ethnicity_name text,
    applicant_ethnicity text,
    co_applicant_ethnicity_name text,
    co_applicant_ethnicity text,
    applicant_race_name_1 text,
    applicant_race_1 text,
    applicant_race_name_2 text,
    applicant_race_2 text,
    applicant_race_name_3 text,
    applicant_race_3 text,
    applicant_race_name_4 text,
    applicant_race_4 text,
    applicant_race_name_5 text,
    applicant_race_5 text,
    co_applicant_race_name_1 text,
    co_applicant_race_1 text,
    co_applicant_race_name_2 text,
    co_applicant_race_2 text,
    co_applicant_race_name_3 text,
    co_applicant_race_3 text,
    co_applicant_race_name_4 text,
    co_applicant_race_4 text,
    co_applicant_race_name_5 text,
    co_applicant_race_5 text,
    applicant_sex_name text,
    applicant_sex text,
    co_applicant_sex_name text,
    co_applicant_sex text,
    applicant_income_000s text,
    purchaser_type_name text,
    purchaser_type text,
    denial_reason_name_1 text,
    denial_reason_1 text,
    denial_reason_name_2 text,
    denial_reason_2 text,
    denial_reason_name_3 text,
    denial_reason_3 text,
    rate_spread text,
    hoepa_status_name text,
    hoepa_status text,
    lien_status_name text,
    lien_status text,
    edit_status_name text,
    edit_status text,
    sequence_number text,
    population text,
    minority_population text, -- percentage of minority population to total population for tract. (Carried to two decimal places)
    hud_median_family_income text,
    tract_to_msamd_income text,
    number_of_owner_occupied_units text,
    number_of_1_to_4_family_units text,
    application_date_indicator text
); 
    """
    execute_sql_query(query)

In [21]:
recreate_table_naive()

In [23]:
def load_data_into_table():
    query = """
COPY hmda_2017(as_of_year,respondent_id,agency_name,agency_abbr,agency_code,loan_type_name,loan_type,property_type_name,property_type,loan_purpose_name,loan_purpose,owner_occupancy_name,owner_occupancy,loan_amount_000s,preapproval_name,preapproval,action_taken_name,action_taken,msamd_name,msamd,state_name,state_abbr,state_code,county_name,county_code,census_tract_number,applicant_ethnicity_name,applicant_ethnicity,co_applicant_ethnicity_name,co_applicant_ethnicity,applicant_race_name_1,applicant_race_1,applicant_race_name_2,applicant_race_2,applicant_race_name_3,applicant_race_3,applicant_race_name_4,applicant_race_4,applicant_race_name_5,applicant_race_5,co_applicant_race_name_1,co_applicant_race_1,co_applicant_race_name_2,co_applicant_race_2,co_applicant_race_name_3,co_applicant_race_3,co_applicant_race_name_4,co_applicant_race_4,co_applicant_race_name_5,co_applicant_race_5,applicant_sex_name,applicant_sex,co_applicant_sex_name,co_applicant_sex,applicant_income_000s,purchaser_type_name,purchaser_type,denial_reason_name_1,denial_reason_1,denial_reason_name_2,denial_reason_2,denial_reason_name_3,denial_reason_3,rate_spread,hoepa_status_name,hoepa_status,lien_status_name,lien_status,edit_status_name,edit_status,sequence_number,population,minority_population,hud_median_family_income,tract_to_msamd_income,number_of_owner_occupied_units,number_of_1_to_4_family_units,application_date_indicator)
FROM '/Data/combined_hmda_2017_nationwide_all-records_labels.csv'
DELIMITER ','
CSV HEADER; 
    """
    execute_sql_query(query)

In [24]:
load_data_into_table()

In [27]:
def display_col_unique_value_count(col_name):
    query = f"""
SELECT "{col_name}", COUNT(*) as count
FROM hmda_2017
GROUP BY "{col_name}" LIMIT 10;
    """
    df = pd.read_sql(query, engine)
    print(df)

In [29]:
for col_name in ["edit_status", "msamd", "state_code", "action_taken_name", "action_taken", "preapproval_name", "preapproval", "denial_reason_1"]:
    display_col_unique_value_count(col_name)

  edit_status     count
0              14285496
    msamd    count
0          1791050
1   10140       10
2   10180     6528
3   10260        1
4   10300        3
5   10380     2635
6   10420    27692
7   10460        1
8   10500     4647
9   10540     6931
10  10580    28624
11  10620        2
12  10660        3
13  10700        3
14  10740    41409
15  10760        2
16  10780     5188
17  10860       30
18  10900    34157
19  10940        4
   state_code    count
0               197158
1           1   209002
2          10    49695
3          11    30927
4          12  1018763
5          13   501310
6          15    44868
7          16    92755
8          17   502511
9          18   292152
10         19   127446
11          2    28632
12         20   107563
13         21   173004
14         22   173079
15         23    58188
16         24   301879
17         25   282546
18         26   437181
19         27   269551
                                   action_taken_name    count
0              Application approved but not accepted   409797
1        Application denied by financial institution  2009743
2                 Application withdrawn by applicant  1696289
3                     File closed for incompleteness   601148
4                                    Loan originated  7339057
5                  Loan purchased by the institution  2086676
6      Preapproval request approved but not accepted    36106
7  Preapproval request denied by financial instit...   106680
  action_taken    count
0            1  7339057
1            2   409797
2            3  2009743
3            4  1696289
4            5   601148
5            6  2086676
6            7   106680
7            8    36106
                preapproval_name     count
0                 Not applicable  11859707
1  Preapproval was not requested   1944405
2      Preapproval was requested    481384
  preapproval     count
0           1    481384
1           2   1944405
2           3  11859707
  denial_reason_1     count
0                  12873526
1               1    384777
2               2     21008
3               3    392096
4               4    220014
5               5     37848
6               6     49326
7               7    179330
8               8      1277
9               9    126294

In [62]:
def count_null_emptystr_emptyquotes(table_name, col_name):
    # table_name = "hmda_2017"
    query = f"""
SELECT
    (SELECT COUNT(*) FROM {table_name}) AS {col_name}_row_count,
    (SELECT COUNT(*) FROM {table_name} WHERE {col_name} IS NULL) AS {col_name}_null_count,
    (SELECT COUNT(*) FROM {table_name} WHERE TRIM({col_name}) = '') AS {col_name}_blank_count,
    (SELECT COUNT(*) FROM {table_name} WHERE {col_name} = '''') AS {col_name}_empty_apostrophes_count,
    (SELECT COUNT(*) FROM {table_name} WHERE {col_name} = '""') AS {col_name}_empty_apostrophes_count;
    """
    df = pd.read_sql(query, engine)
    print(df)

In [42]:
for col_name in ["edit_status", "msamd", "state_code", "action_taken_name", "action_taken", "preapproval_name", "preapproval", "denial_reason_1"]:
    count_null_emptystr_emptyquotes("hmda_2017", col_name)

   edit_status_null_count  edit_status_blank_count  \
0                       0                 14285496

   edit_status_empty_apostrophes_count  edit_status_empty_apostrophes_count
0                                    0                                    0
   msamd_null_count  msamd_blank_count  msamd_empty_apostrophes_count  \
0                 0            1791050                              0

   msamd_empty_apostrophes_count
0                              0
   state_code_null_count  state_code_blank_count  \
0                      0                  197158

   state_code_empty_apostrophes_count  state_code_empty_apostrophes_count
0                                   0                                   0
   action_taken_name_null_count  action_taken_name_blank_count  \
0                             0                              0

   action_taken_name_empty_apostrophes_count  \
0                                          0

   action_taken_name_empty_apostrophes_count
0                                          0
   action_taken_null_count  action_taken_blank_count  \
0                        0                         0

   action_taken_empty_apostrophes_count  action_taken_empty_apostrophes_count
0                                     0                                     0
   preapproval_name_null_count  preapproval_name_blank_count  \
0                            0                             0

   preapproval_name_empty_apostrophes_count  \
0                                         0

   preapproval_name_empty_apostrophes_count
0                                         0
   preapproval_null_count  preapproval_blank_count  \
0                       0                        0

   preapproval_empty_apostrophes_count  preapproval_empty_apostrophes_count
0                                    0                                    0
   denial_reason_1_null_count  denial_reason_1_blank_count  \
0                           0                     12873526

   denial_reason_1_empty_apostrophes_count  \
0                                        0

   denial_reason_1_empty_apostrophes_count
0                                        0

In [47]:
for col_name in ["msamd", "state_code", "county_code", "sequence_number", "loan_amount_000s", "action_taken", "preapproval", "applicant_income_000s", "denial_reason_1", "census_tract_number", "population", "minority_population", "hud_median_family_income", "tract_to_msamd_income"]:
    count_null_emptystr_emptyquotes(col_name)

   msamd_row_count  msamd_null_count  msamd_blank_count  \
0         14285496                 0            1791050

   msamd_empty_apostrophes_count  msamd_empty_apostrophes_count
0                              0                              0
   state_code_row_count  state_code_null_count  state_code_blank_count  \
0              14285496                      0                  197158

   state_code_empty_apostrophes_count  state_code_empty_apostrophes_count
0                                   0                                   0
   county_code_row_count  county_code_null_count  county_code_blank_count  \
0               14285496                       0                   245597

   county_code_empty_apostrophes_count  county_code_empty_apostrophes_count
0                                    0                                    0
   sequence_number_row_count  sequence_number_null_count  \
0                   14285496                           0

   sequence_number_blank_count  sequence_number_empty_apostrophes_count  \
0                     14285496                                        0

   sequence_number_empty_apostrophes_count
0                                        0
   loan_amount_000s_row_count  loan_amount_000s_null_count  \
0                    14285496                            0

   loan_amount_000s_blank_count  loan_amount_000s_empty_apostrophes_count  \
0                          5036                                         0

   loan_amount_000s_empty_apostrophes_count
0                                         0
   action_taken_row_count  action_taken_null_count  action_taken_blank_count  \
0                14285496                        0                         0

   action_taken_empty_apostrophes_count  action_taken_empty_apostrophes_count
0                                     0                                     0
   preapproval_row_count  preapproval_null_count  preapproval_blank_count  \
0               14285496                       0                        0

   preapproval_empty_apostrophes_count  preapproval_empty_apostrophes_count
0                                    0                                    0
   applicant_income_000s_row_count  applicant_income_000s_null_count  \
0                         14285496                                 0

   applicant_income_000s_blank_count  \
0                            1895864

   applicant_income_000s_empty_apostrophes_count  \
0                                              0

   applicant_income_000s_empty_apostrophes_count
0                                              0
   denial_reason_1_row_count  denial_reason_1_null_count  \
0                   14285496                           0

   denial_reason_1_blank_count  denial_reason_1_empty_apostrophes_count  \
0                     12873526                                        0

   denial_reason_1_empty_apostrophes_count
0                                        0
   census_tract_number_row_count  census_tract_number_null_count  \
0                       14285496                               0

   census_tract_number_blank_count  \
0                           284302

   census_tract_number_empty_apostrophes_count  \
0                                            0

   census_tract_number_empty_apostrophes_count
0                                            0
   population_row_count  population_null_count  population_blank_count  \
0              14285496                      0                  284308

   population_empty_apostrophes_count  population_empty_apostrophes_count
0                                   0                                   0
   minority_population_row_count  minority_population_null_count  \
0                       14285496                               0

   minority_population_blank_count  \
0                           284352

   minority_population_empty_apostrophes_count  \
0                                            0

   minority_population_empty_apostrophes_count
0                                            0
   hud_median_family_income_row_count  hud_median_family_income_null_count  \
0                            14285496                                    0

   hud_median_family_income_blank_count  \
0                                284308

   hud_median_family_income_empty_apostrophes_count  \
0                                                 0

   hud_median_family_income_empty_apostrophes_count
0                                                 0
   tract_to_msamd_income_row_count  tract_to_msamd_income_null_count  \
0                         14285496                                 0

   tract_to_msamd_income_blank_count  \
0                             284308

   tract_to_msamd_income_empty_apostrophes_count  \
0                                              0

   tract_to_msamd_income_empty_apostrophes_count
0                                              0

In [63]:
count_null_emptystr_emptyquotes("clean_hmda_2017", "msamd")

   msamd_row_count  msamd_null_count  msamd_blank_count  \
0         14285496           1791050                  0

   msamd_empty_apostrophes_count  msamd_empty_apostrophes_count
0                              0                              0

In [43]:
def unique_count_with_most_and_least_common_values(col_name):
    table_name = "hmda_2017"
    query = """
WITH Counts AS (
  SELECT
    {col_name},
    COUNT(*) AS count
  FROM {table_name}
  GROUP BY {col_name}
)
SELECT
  COUNT(DISTINCT {col_name}) AS unique_values_count,
  {col_name},
  count
FROM Counts
ORDER BY count DESC
LIMIT 5
UNION ALL
SELECT
  COUNT(DISTINCT {col_name}) AS unique_values_count,
  {col_name},
  count
FROM Counts
ORDER BY count ASC
LIMIT 5;
    """
    df = pd.read_sql(query, engine)
    print(df)

In [65]:
def copy_and_overwrite_clean_hmda():
    raw_table_name = "hmda_2017"
    new_table_name = "clean_hmda_2017"
    
    query = f"""
DROP TABLE IF EXISTS {new_table_name};
"""
    execute_sql_query(query)
    
    query = f"""
    CREATE TABLE {new_table_name} AS
    SELECT * FROM {raw_table_name};
    """
    execute_sql_query(query)
    
    # replace blanks with cols we will use with NULL, then change the data type of the cols to int or numeric.
    query = f"""
UPDATE {new_table_name}
SET
    """
    for col_with_blanks in ["msamd", "state_code", "county_code", "loan_amount_000s", "applicant_income_000s", "denial_reason_1", "census_tract_number", "population", "minority_population", "hud_median_family_income", "tract_to_msamd_income"]:
        query += f" {col_with_blanks} = NULL\n WHERE {col_with_blanks} = '',\n"
    # replace last comma with a semicolon
    query = query[:-2] + ';'
    
    execute_sql_query("""UPDATE clean_hmda_2017
SET
     msamd = NULL
 WHERE msamd = '',
 state_code = NULL WHERE state_code = '';""")
    
    
    
#     
#     query = f"""
# ALTER TABLE {new_table_name}
# ALTER COLUMN column_name TYPE new_data_type;
# """

In [66]:
copy_and_overwrite_clean_hmda()

ProgrammingError: (psycopg2.errors.SyntaxError) syntax error at or near ","
LINE 4:  WHERE msamd = '',
                         ^

[SQL: UPDATE clean_hmda_2017
SET
     msamd = NULL
 WHERE msamd = '',
 state_code = NULL WHERE state_code = '';]
(Background on this error at: https://sqlalche.me/e/20/f405)